node_modules/
.DS_Store
*.wav
www/
ios/App/build/
ios/App/DerivedData/
android/.gradle/
android/build/
android/app/build/
android/local.properties
ios/App/build/
ios/App/fastlane/report.xml
ios/App/fastlane/*.mobileprovision
ios/App/.bundle/
ios/App/vendor/
*.ipa
